* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Principal */
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;

    /* Base */
    --gray-100: #0D0E11;
    --gray-200: #16181D;
    --gray-300: #292C34;
    --gray-400: #878EA1;
    --gray-500: #C0C4CE;
    --gray-600: #E2E4E9;

    /* Tipografia */
    --font-asap: 'Asap', 'sans-serif';
    --font-inconsolata: 'Inconsolata', 'sans-serif';
    --font-maven-pro: 'Maven Pro', 'sans-serif';

    /* Tamanhos e pesos */
    --font-size-h1: 56px;
    --font-size-h2: 24px;
    --font-size-h3: 16px;
    --font-size-subtitle: 20px;
    --font-size-text-md: 16px;
    --font-size-text-sm: 14px;

    --line-height-h1: 120%;
    --line-height-h2: 120%;
    --line-height-h3: 120%;
    --line-height-subtitle: 120%;
    --line-height-text-md: 140%;
    --line-height-text-sm: 140%;

    --font-weight-bold: bold;
    --font-weight-regular: regular;
}

body {
    font-family: var(--font-asap);
    color: var(--red);
    background-color: var(--gray-200);
}

h1, h2, h3 {
    font: inherit;
}


.grid {
    display: grid;
}

.grid-flow-col {
    grid-auto-flow: column;
}