main {
    width: 90%;
    max-width: 1200px; 
    min-width: 800px; 
    margin: 72px auto 144px auto;
    box-sizing: border-box;
}

main h3 {
    text-align: center;
    font-size: var(--font-size-h3);
    line-height: var(--line-height-h3);
    font-family: var(--font-inconsolata);
}

main h2 {
    text-align: center;
    margin-top: 8px;
    font-size: var(--font-size-h2);
    color: rgba(255, 255, 255, 0.845);
    margin-bottom: 56px;
}

main section {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: auto auto; 
    gap: 24px;
    width: 100%;
}

main section div {
    border: solid var(--gray-300) 1px;
    height: 280px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--gray-300);
}

main section div img {    
    width: 100%;
    border-radius: 8px;
    margin-bottom: 12px;
}

main h1 {
    color: white;
    margin-top: 10px;
    margin-bottom: 8px;
    font-weight: bold;
}

main p {
    color: var(--gray-400);
    font-size: 14px;    
}

main section div:hover {   
    border: 1px solid rgba(255, 255, 255, 0.186);
}
